.CardSpreadsStyle {
    display: flex;
    flex-direction: column;
    max-width: 28%;
    box-shadow: 10px 33px 23px 0px rgba(225,229,247,0.88);
    margin: 40px;
    border-radius: 10px;
}

.CardsSpreadsContent{
    margin: 15px;
}

.CardsSpreadsImage {
    height: 100%;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}