.tittle-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.text-block {
    font-weight: 700;
    color:#293F73;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content-block {
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#293F73;
}