.tittle-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;

}
.text-block {
    color:#293F73;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.style-title {
    text-align: center;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#293F73;
}