.block1{
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/3626307.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block1container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    gap: 5%;
    height: auto;

}
.block1textContainer{
    width: 100%;
    max-width: 45%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: auto;
}
.block1title{
    height: auto;
    font-size: 75px;
    font-weight: 700;
    padding-bottom: 5%;
    line-height: 1;
}
.block1p{
    height: auto;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}
.block1infoContainer{
    margin-top: 2%;
    margin-bottom: 2%;
    background: white;
    width: 100%;
    max-width: 40%;
    height: 75px;
    border-radius: 8px;
}
.block1imageContainer{
    width: 100%;
    max-width: 40%;
}
#lady1{
    width: 100%;
    max-width: 60%;
    height: auto;
    padding-bottom: 5%;
}
.block1iconsContainer{
    margin-top: 19%;
    width: 100%;
    max-width: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#icon{
    margin-left: 10%;
    width: 100%;
    max-width: 80%;

}


@media screen and (max-width: 500px) {
    .block1{
        height: fit-content;
    }
    .block1container {
        flex-direction: column;
        align-items: center;
        gap: 1;
        padding-top: 30px;
        height: auto;
    }

    .block1textContainer {
        width: 100%;
        padding-left: 5%;
    }

    .block1imageContainer {
        width: 100%;
        margin-top: 30px;
        padding-left: 5%;
    }
}