.symptom-container{
    background-color: #F0F8FF;
    width: 100%;
    padding: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.symptom-cards-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 5%;
}

