.navigation{
    width: 10%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 0;
    height: 100%;

}
.navbar_content{
    width: 100%;
    height: 100%;
    outline: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
}
#logo1{
    width: 60%;
    position: static;
    margin: 10%;
    margin-left: 20%;
    animation-name: rueda;
    animation: rueda 5s infinite linear;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@keyframes rueda {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(359deg);
    }
}
#icon_tracker{
    position: relative;
    width: 35%;
    margin: auto;
    margin-top: 10%;
    box-sizing: border-box;
    display: block;
    height:100%;

}
.ul-navbar-tracker{
    display: flex;
    flex-flow: column nowrap
}