.navigation{
    width: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 0;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    

}
.navbar_content{
    width: 100%;
    height: 100%;
    outline: none;
    
    padding: 3%;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

#logo1{
    width: 40%;
    
    animation-name: rueda;
    animation: rueda 5s infinite linear;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin: 10%;
}
@keyframes rueda {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(359deg);
    }
}
#icon_tracker{
    position: relative;
    width: 50%;
    
    margin-top: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color:#293f73
    

}

#icon_tracker:hover {
    background-color: #293f73;
    color: white;

}

#icon_tracker:active{
    background-color: #293f73;
    color: white;

}


  .icon_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem; 
   
  }

  

  