.washContainer {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;

}

.washingImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}