.symptom-card {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 25px 7px #D8DDEF;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    padding:4% 4%;
}

.symptom-img-card{
    width: 25%;
    align-self: flex-start;
}
.symtom-tittle-card{
    padding-top:5%;
    padding-bottom: 5%;

}

