.header{
    position: fixed;
    width: 100%;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 90px;
}
#logo{
    display: inline-block;
    padding-left: 80px;
    margin-right: 15px;
}
.menu{
    z-index: 1;
    padding-right: 15px;
}
.menu a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    color: white;
    font-weight: 400;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 700;
    transition: 0.4s;
}
.menu-view,
.menu-hide{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.menu-view{
    order: 1;
}
.menu a:hover,
.menu-view:hover,
.menu-hide:hover{
    color: #f1e31a;
}
#down{
    width: 8px;
    height: 6px;
}
#check{
    display: none;
}
#tracker{
    color:  white;
    border: 2px solid  #1353b1;
    background-color: #1353b1;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

@media(max-width: 450px){
/*Header*/
.menu-view,
.menu-hide{
    display: block;
}
.menu{
    
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f3fafb;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0;
    z-index: 100;
    transition: 0.8s;
}
.menu a{
    color: #1353b1;
    display: block;
    padding: 15px;
}
.menu-hide{
    position: absolute;
    top:40px;
    right: 40px;
}
#check:checked ~ .menu{
    right: 0;
}
}