
@font-face {
    font-family: "fontawesone-webfont";
    src: url("https://github.com/anaencinasd/covid-19-tracker/blob/0aebfe19acd090cabbf432682ad15eb637a1fccc/src/assets/fonts/fontawesome-webfont.ttf");
}
@font-face {
    font-family: "lanenar";
    src: url("https://github.com/anaencinasd/covid-19-tracker/blob/0aebfe19acd090cabbf432682ad15eb637a1fccc/src/assets/fonts/lanenar_Lane.ttf");
}
@font-face {
    font-family: "themify" ;
    src: url("https://github.com/anaencinasd/covid-19-tracker/blob/0aebfe19acd090cabbf432682ad15eb637a1fccc/src/assets/fonts/themify.ttf");
}
@font-face {
    font-family: "glyphicons" ;
    src: url("https://github.com/anaencinasd/covid-19-tracker/blob/0aebfe19acd090cabbf432682ad15eb637a1fccc/src/assets/fonts/glyphicons-halflings-regular.ttf");
}
*{
    margin: 0;
    padding: 0;
}